* {
    margin: 0;
    /*remover margens do navegador*/
    padding: 0;
    /*remover preenchimentos padrão do navegador*/
    box-sizing: border-box;
    /*garante que as bordas nao aumentem o tamanho dos elementos*/
    font-family: Arial, Helvetica, sans-serif;
}

/* estilisar nossa barra de navegação*/
.navbar {
    background-color: #353535;
    color: rgb(247, 244, 244);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0%;
    /*remove as margens da lista*/
    padding: 0%;
    /*remove o preenchimento interno*/
}

.navbar ul li a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    transition: 0.4s;
}

.navbar ul li a:hover {
    background-color: aliceblue;
    /* adiciona um fundo branco*/
    color: #353535;
    /*adiciona uma cor diferente ao texto*/
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    /*0px -> move na horizontal
    4px ->move na vertical
    10 px desfoque de 10px na sombra
    rgba(0.0.0.3) adiciona a cor preta e uma transparencia de 30%(0.3)
    */
    transform: translate(-2px);
    /* move a box 2px para cima*/

}

/*container que limita o tamanho do carrosel*/
.slider {
    margin: 20px auto;
    /* centraliza na tela e da margem no topo*/
    width: 800px;
    /*largua fixa do carrosel*/
    height: 400px;
    /* Altura fixa do carrosel*/
    overflow: hidden;
    /* Esconde o que estiver fora da caixa (as outras fotos)*/
    border-radius: 10px;
    /* Cantos arredondados*/
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    /*sombra para dar proofindidade*/

}

.slider-content {
    width: 400%;
    height: 100%;
    /* Ocupa 100% da aultura do objeto PAI*/
    display: flex;
    /* Coloca as imagens uma do lado da outra*/
}

/* Esconde os botões originais*/
.slider-content input {
    display: none;
    /* Esconde os botões RADIOS*/
}

/*Estilo de cada caixa de imagem*/
.slider-box {
    width: 25%;
    /*Cada foto ocupa 25%*/
    transition: 0.6s;
    /*tempo de animação de deslize entre as fotos*/
}

/* garante que a imagem cubra todo espaço sem distorcer*/
.slider-box img {
    width: 800px;
    /*largura fixa para manter o padrão*/
    height: 400px;
    /* Altura fixa para manter o padrão*/
    object-fit: cover;
    /*Corta a imagem para preencher o espaço sem achatar*/
}

/* Logica de movimento: ajustado para 4 imagens*/
/* Imagem 1: margem 0 */
#radio1:checked~.first {
    margin-left: 0;
}

/* Imagem 2: pula a primeira (25%)*/
#radio2:checked~.first {
    margin-left: -25%;
}

/*Imagem 3:pula as duas primeiras 50%*/
#radio3:checked~.first {
    margin-left: -50%;
}

/*Imagem 4: pula as tres 75%*/
#radio4:checked~.first {
    margin-left: -75%;
}

/*Estilo dos botoes manuais*/
.nav-manual {
    position: absolute;
    /*fixamento fixo em relaçao ao slider*/
    width: 800px;
    /*mesma largura do slider*/
    margin-top: -40px;
    /*joga as bolinhas para dentro da imagem*/
    display: flex;
    justify-content: center;
    /*centraliza as bolinhas horizontalmente*/
}

.manual-btn {
    border: 2px solid white;
    /*borda branca para visibilidade*/
    padding: 5px;
    /* tamanho das bolinhas*/
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    /*espaçamento entre as bolinhas*/
    transition: 0.3s;
    /* Suaviza a mudança de cor*/
}

.manual-btn:hover {
    background-color: aliceblue;
}

/* Estilização do rodape da pagina*/
.rodape-principal{
    background-color:#353535;
    color:aliceblue;
    padding: 40px 0 20px 0;
    margin-top: 50px; /*Afastar da galeria*/
}
.container-rodape{
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap; /* Faz os itens pularem linhas em telas pequenas*/
    max-width: 1200px;
    margin: 0 auto; /*centralizar o conteiner na tela*/
}
.links-sociais a
{
    color:aliceblue;
    text-decoration: none;
    margin: 0 15px; /* espaçamento entre os links*/
    font-weight: bold;
    transition: 0.3s;
}
.links-sociais a:hover{
    color:aliceblue;
    text-shadow: 0 0 5px(255,255,255, 0.2);

}
.rodape-inferior{
    text-align: center;
    border-top: 1px solid rgba(255,255,255, 0.1);/*linha divisoria*/
    margin-top: 30px;
    padding-top: 20px;
    font-size: 12px;
    opacity: 0.6;

}
.info-copyright p{
    text-align: center;
    margin: 5px 0  ;
}
